@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
}

@media screen and (max-width:786px) {
  .header-img-overlay {
    top: 2rem;
  }
  .header-img-text{
    font-size: 4rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width:480px) {
  .header-img-text{
      font-size: 3.2rem;
  }
}